# VRChat Creator Companion adds its own additional gitignore to /Packages, so you don't upload the SDK on your own
#/[Pp]ackages/.gitignore
# Uncomment to ignore it
# UPLOADING VRCHAT SDK ANYWHERE ON YOUR OWN BREAKS VRCHAT TOS
# REVERT IMMEDIATELY ONCE FIXED 
# WORKAROUND for broken VPM Package Resolver Tool
# Not recommended - edit it instead, unless you are also experiencing problems with Creator Companion

# ignore git config as it will differ across clients
.gitconfig

# unity generated folders
/[Ll]ibrary/
/[Ll]ibrary.meta
/[Uu]ser[Ss]ettings/
/[Uu]ser[Ss]ettings.meta
[Tt]emp/
[Tt]emp.meta
[Oo]bj/
[Oo]bj.meta
/[Bb]uild/
/[Bb]uild.meta
/[Bb]uilds/
/[Bb]uilds.meta
/[Ll]ogs/
/[Ll]ogs.meta
/[Bb]in/
/[Bb]in.meta
.utmp/
.utmp.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/
/[Mm]emoryCaptures.meta

# Recordings can get excessive in size
/[Rr]ecordings/
/[Rr]ecordings.meta

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Ignore Jetbrains Plugin
/[Aa]ssets/Plugins/Editor/JetBrains*
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
# Jetbrains Rider personal-layer settings
*.DotSettings.user

# Visual Studio cache directory
.vs/

# Visual Studio Code cache
*.vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
**/.idea/**
.idea/**

#maya intermediate files
**/incrementalSave/

# wwise intermediate files
**/.cache/
*.akd

# fmod autogen files
fmod.log
fmod_editor.log
**/FMODStudioCache.asset
**/FMODStudioCache.asset.meta
**/FMODStudioSettings.asset
**/FMODStudioSettings.asset.meta
**/.cache/*
**/.restore/*
**/.user/*

# Gradle cache directory
.gradle/

# Autogenerated VS MD Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*Resharper*
*ReSharper*
*.orig
*.orig.*

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.apk.meta
*.unitypackage
*.unitypackage.meta
*.app

*.log

# VRCFury temp files
_VRCFury/
**/com.vrcfury.temp/
_VRCFury.meta
VRCFury.zip

# VRChat SDK upload temp files
/[Aa]ssets/prefab-id-*.prefab
/[Aa]ssets/prefab-id-*.prefab.meta

# Crashlytics generated file
crashlytics-build.properties

# TestRunner generated files
InitTestScene*.unity*

# Addressables default ignores, before user customizations
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
# By default, Addressables content builds will generate addressables_content_state.bin
# files in platform-specific subfolders, for example:
# /Assets/AddressableAssetsData/OSX/addressables_content_state.bin
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting auto-generated files
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated scenes by play mode tests
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Audio waveform preview files
*.reapeaks
*.reapeaks.meta
*.pk
*.pk.meta
*.pkf
*.pkf.meta
*.asd
*.asd.meta

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db
Desktop.ini
ehthumbs.db
Local/*

*_autosave_*.spp